.cont{
    display: flex;
}

.cont a{
    font-size: 30px;

}


.facebook{
    margin-top: -163px;
    margin-left: 725px;
}
.instagram{
    margin-top: -128px;
    margin-left: -29px;
}
.correo{
    margin-top: -88px;
    margin-left: -28px;
}
.tiktok{
    margin-top: -48px;
    margin-left: -28px;
}